@bit:registry=https://node.bit.dev
registry=https://verdaccio.tech.dolenglish.vn/
//verdaccio.tech.dolenglish.vn/:_authToken="/7rJgN/EjZXfI8GD3AEtgneb4SIp/FLGeWF9F3bR2qY="
//localhost:4873/:_authToken="L2iBMQRHNUKXr8grejecrw=="
